*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

:root {
	--bg-dark: #081265;
	--bg-light: #f4f5f7;
	--bg-white: #ffffff;
	--bg-footer: #08173e;

	--text-dark: #08173e;
	--text-light: #ffffff;
	--text-accent: #0a48e5;

	--border-main: rgba(255, 255, 255, 0.75);
	--border-dark: rgba(8, 18, 101, 0.75);
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
	max-width: 1760px;
}
